<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium-TestNG-Hub Suite" verbose="1">

    <!-- Register the ExtentReports listener -->
    <listeners>
        <listener class-name="com.divhani.utils.ExtentReportManager"/>
    </listeners>

    <!-- Authentication and Forms Tests -->
    <test name="Login Tests">
        <classes>
            <class name="com.divhani.theinternet.LoginTest"/>
        </classes>
    </test>

</suite>