<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium-TestNG-Hub Suite" verbose="1">

    <!-- Register the ExtentReports listener -->
    <listeners>
        <listener class-name="com.divhani.utils.ExtentReportManager"/>
    </listeners>

    <!-- Authentication and Forms Tests -->
    <test name="Login Tests">
        <classes>
            <class name="com.divhani.theinternet.LoginTest"/>
        </classes>
    </test>

    <!-- Checkboxes Tests -->
    <test name="Checkboxes Tests">
        <classes>
            <class name="com.divhani.theinternet.CheckboxesTest"/>
        </classes>
    </test>

    <!-- Dropdown Tests -->
    <test name="Dropdown Tests">
        <classes>
            <class name="com.divhani.theinternet.DropdownTest"/>
        </classes>
    </test>

    <!-- JavaScript Alerts Tests -->
    <test name="JavaScript Alerts Tests">
        <classes>
            <class name="com.divhani.theinternet.JavaScriptAlertsTest"/>
        </classes>
    </test>

    <!-- Multiple Windows Tests -->
    <test name="Multiple Windows Tests">
        <classes>
            <class name="com.divhani.theinternet.MultipleWindowsTest"/>
        </classes>
    </test>

    <!-- Frames Tests -->
    <test name="Frames Tests">
        <classes>
            <class name="com.divhani.theinternet.FramesTest"/>
        </classes>
    </test>

    <!-- Drag and Drop Tests -->
    <test name="Drag and Drop Tests">
        <classes>
            <class name="com.divhani.theinternet.DragAndDropTest"/>
        </classes>
    </test>

    <!-- File Upload Tests -->
    <test name="File Upload Tests">
        <classes>
            <class name="com.divhani.theinternet.FileUploadTest"/>
        </classes>
    </test>

    <!-- Hovers Tests -->
    <test name="Hovers Tests">
        <classes>
            <class name="com.divhani.theinternet.HoversTest"/>
        </classes>
    </test>

    <!-- Dynamic Loading Tests -->
    <test name="Dynamic Loading Tests">
        <classes>
            <class name="com.divhani.theinternet.DynamicLoadingTest"/>
        </classes>
    </test>

    <!-- Sortable Tables Tests -->
    <test name="Sortable Tables Tests">
        <classes>
            <class name="com.divhani.theinternet.SortableTablesTest"/>
        </classes>
    </test>

</suite>